<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.hfad.bizhacks_2020">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".Questions.Q6_2"
            android:label="@string/title_activity_q6_2"
            android:theme="@style/AppTheme.NoActionBar"></activity>
        <activity
            android:name=".UserFlow.Laptop_Products"
            android:label="@string/title_activity_laptop__products"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".UserFlow.Laptop_Basic_Item"
            android:label="@string/title_activity_laptop__basic__item"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".UserFlow.Laptop_Advanced_Item"
            android:label="@string/title_activity_laptops__advanced"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Profile"
            android:label="@string/title_activity_profile"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Questions.Q2"
            android:label="@string/title_activity_q2"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Questions.Q5"
            android:label="@string/title_activity_q5"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Questions.Q6"
            android:label="@string/title_activity_q6"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Questions.Q4"
            android:label="@string/title_activity_q4"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Questions.Q3"
            android:label="@string/title_activity_q3"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Questions.Q1"
            android:label="@string/title_activity_q1"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ChatBotActivity"
            android:label="@string/title_activity_chat_bot"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>